<ion-view view-title="Gastos">
    <ion-content>
        <ion-list>
            <ion-item>
                <label class="item item-input">
                    <div class="input-label">
                      Motivo:
                    </div>
                    <input type="text" ng-model="GastosCtrl.Filtro.motivo"/>         
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                      Usuario:
                    </div>
                    <select ng-model="GastosCtrl.Filtro.participaciones_gasto.participante.id">
                      <option value="" selected>Todos</option>
                      <option ng-show="item.usuario.id>10" value="{{item.usuario.id}}" ng-repeat="item in GastosCtrl.usuarios|filter:{'activo':true}">{{item.usuario.nombre}}</option>
                    </select>
                </label>
            </ion-item>
            <ion-item class="row" ng-repeat="item in GastosCtrl.gastos | filter:GastosCtrl.Filtro | orderBy:'fecha_hasta':true">
                <div class="col col50">
                    <h2><span class="gasto-motivo" >{{item.motivo}}</span> <span class="aportacion-cantidad" >{{item.cantidad | number:2}}€</span></h2>
                    <p class="aportacion-fecha" >{{item.fecha_desde| date:'dd/MM/yyyy' }} - {{item.fecha_hasta| date:'dd/MM/yyyy' }}</p>
                </div>
                <div class="col col50 participaciones">
                    <div ng-repeat="participacion in item.participaciones_gasto">
                        <span>{{participacion.cantidad | number:2}}€ - {{participacion.participante.nombre}}</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>