<ion-view view-title="Usuarios">
    <ion-content>
        <ion-list>
            <ion-item ng-show="item.activo" class="row" ng-repeat="item in UsuariosCtrl.usuarios">
                <div class="col col50">
                    <h2 class="usuario-nombre" >{{item.nombre}}</h2>
                    <p class="usuario-fechaentrada" >Fecha de entrada: {{item.fecha_entrada.date | date:'dd/MM/yyyy'}}</p>
                    <p class="usuario-fechasalida" >Fecha de salida: {{item.fecha_salida.date | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col col50" style="text-align: right">
                    <div>+{{item.aportaciones + item.ajustes | number:2}}</div>
                    <div>-{{item.gastos | number:2}}</div>
                    <div>{{item.aportaciones - item.gastos + item.ajustes | number:2}}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
